html{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EB5E28;
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 97vh;
    row-gap: 20px;
}

a {
    text-decoration: none;
    color: #FFFCF2;
}

header{
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #252422;
    /* background-image: linear-gradient(#403D39, #252422); */
    color: #FFFCF2;
    box-shadow: 5px 10px #ad4319;
    font-size: 42px;
    flex: 2;
}

header img {
    height: 150px;
    width: auto;
}

main {
    /* background-image: linear-gradient(#FFFCF2, #CCC5B9); */
    background-color: #c55123;
    display: flex;
    flex-direction: column;
    flex: 10;
    /* border: 10px solid #252422; */
    box-shadow: 5px 10px #ad4319;
    /* box-shadow: 5px 10px linear-gradient(#ad4319, #853110); */
    
}

h1 {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    color: #EB5E28;
    text-shadow: 4px 4px #161615;
    box-shadow: 5px 10px #ad4319;
    margin: 20px 20px 10px 20px;
    padding: 20px;
    background-color: #252422;
}

h2 { 
    color: #252422;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

h3 { 
    color: #252422;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    margin: 0px 20px 20px 0px;
}

section {
    border-top: 1px solid #252422;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

.portfolio_sec { 
    border-top: 0px;
    width: calc(100% - 6em);
    margin: 2em auto;
    margin-top: 20px;
    padding: 1em;
    background: #c55123;
    box-shadow: 0 0 12px -2px black;
}

section:nth-of-type(odd) img {
    width: 240px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
} 

section:nth-of-type(even) img {
    width: 240px;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
}

section:nth-of-type(odd) > img {
    float: left;
    margin: 0 24px 24px 0;
}

section:nth-of-type(even) > img {
    float: right;
    margin: 0 0 24px 24px;
}

section > img {
    height: 128px;
}

#index_p{
    font-size: 26px;
}

section p{
    font-size: 16px;
}
article { 
    color: #252422;
    font-size: 26px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

li {
    padding: 10px;
    margin-right: 10px;
    list-style: none;
    transition: all 1s;
}

li:hover {
    background-color: #EB5E28;
    transition: all 1s;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #252422;
    box-shadow: 5px 10px #ad4319;
    flex: 1;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

footer img{
    width: 50px;
    height: auto;
}

#main_center {
    height: 100vh;
    max-width: 960px;
    margin: 20px auto;
    background-image: linear-gradient(#FFFCF2, #CCC5B9);
    box-shadow: 0 0 12px -2px black;
}

#mySlider{
    display: block;
}

#titleSlider{
    display: block;
}

/* I can just remove "all and" and it will work the same since it defaults to all */
@media all and (max-width: 1280px){
    ul{
        flex-direction: column;  
    }
    li {
        padding: 0px;
        /* margin-right: 20px; */
        width: 150px;
        height: 50px;
    }
}

@media (max-width: 880px){
    #mySlider{
        display: none !important;
    }
}

@media (max-width: 691px){
    #titleSlider{
        display: none !important;
    }
}
